#Database
DB_HOST=inventory-ms.cpg6iaa4wcf8.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=Mypass1234
DB_NAME=inventory_ms

#Backend
PORT=5000
JWT_SECRET=mysecretkey
FRONTEND_URL=http://inventory-ms-frontend.s3-website.ap-south-1.amazonaws.com

# Email (Zoho SMTP)
EMAIL_USER=sthakare@xtsworld.in
EMAIL_PASS=afRHGVjJTcsu

# Microservice 
MICRO_PORT=5002

# AWS S3 uploads
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_UPLOADS_BUCKET=inventory-ms-uploads
