#Database
DB_HOST=inventory-ms-db.cpg6iaa4wcf8.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=Mypass1234
DB_NAME=inventory_ms

#Backend
PORT=5000
JWT_SECRET=mysecretkey
FRONTEND_URL=http://13.203.140.238

# Email (Zoho SMTP)
EMAIL_USER=your@zoho.in
EMAIL_PASS=your_smtp_password

# Microservice 
MICRO_PORT=5002
